@import '../../scss/variables';

.cart {
    position: fixed;
    padding: 1rem;
    top: 4rem;
    right: 0;
    transform: translateX(0%);
    width: calc(100vw - 4rem);
    margin: 1rem;
    background: white;
    z-index: 999;
    border-radius: .25rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.2), 0 0 4rem rgba(0,0,0,.2) ;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 91%;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom-color: white;
        border-top: 0;
        margin-left: -8px;
        margin-top: -8px;
        border-radius: 2px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        h3 {
            margin: 0;
            display: flex;

            .dots {
                flex: 1;
                border-bottom: 1px dotted rgba(0,0,0,.2);
                margin: 0 .25rem .3rem .25rem;
            }
        }

        p {
            margin: 0;
            padding: 0;
        }

    }
    
}