.navicon {
  //   background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.8rem;
  border-radius: 999rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
}
