@import "../../scss/variables";

$baseline: 18px;

.confirmation {
  @extend %center;
  background: $darkblue;
  background: linear-gradient(to bottom, $pink 0%, $darkblue 50%);

  .ticket {
    position: absolute;
    max-width: 19rem;
    background: white;
    box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30px;
    grid-template-rows: auto $baseline * 6 $baseline * 4 $baseline * 6;
    border-radius: 0.25rem;
    grid-template-areas:
      "what what what"
      "where where where"
      "when from to"
      "code code code";

    &:nth-child(2) {
      transform: scale(0.95) translate3d(0, -1.5rem, 0);
    }

    &:nth-child(1) {
      transform: scale(0.9) translate3d(0, -3.2rem, 0);
    }

    .type {
      padding: 0.75rem 0 0 1rem;
      margin: 0;
      font-size: 0.6rem;
      letter-spacing: 0.05rem;
      font-weight: 600;
      color: rgba($color: #000, $alpha: 0.5);
      text-transform: uppercase;
    }

    h2 {
      margin: 0;
      font-size: 1.25rem;
      padding: 0.125rem 1rem;
      font-weight: 500;
      color: rgba($color: #000, $alpha: 0.8);
    }

    p {
      padding: 0.25rem 1rem;
      margin: 0;
      color: rgba($color: #000, $alpha: 0.8);
    }

    .what {
      grid-area: what;
      border-bottom: 1px dotted rgba($color: #000, $alpha: 0.4);
      background: rgba($color: #000, $alpha: 0);

      h1 {
        margin: 0;
        color: $pink;
        padding: 0 0 1rem 1rem;
        font-size: 2rem;
      }
    }

    .where {
      grid-area: where;
      background: rgba($color: #000, $alpha: 0.03);
      border-bottom: 1px dotted rgba($color: #000, $alpha: 0.4);
    }

    .when {
      grid-area: when;
      background: rgba($color: #000, $alpha: 0.06);
      overflow: hidden;
    }

    .from {
      grid-area: from;
      background: rgba($color: #000, $alpha: 0.06);
      border-left: 1px dotted rgba($color: #000, $alpha: 0.4);
      border-right: 1px dotted rgba($color: #000, $alpha: 0.4);
    }

    .to {
      grid-area: to;
      background: rgba($color: #000, $alpha: 0.06);
    }

    .code {
      grid-area: code;
      background: rgba($color: #000, $alpha: 0.13);

      flex-direction: column;
      justify-content: center;

      .barcode {
        font-family: "Libre Barcode 128", cursive;
        margin: 1rem 0 0 0;
        padding: 0;
        font-size: 5rem;
        font-weight: 100;
        @extend %center;
      }
      .utfcode {
        margin: -1.5rem 0 0 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: 0.25rem;
        @extend %center;
      }
    }

    .error-message {
      grid-area: where;
      @extend %center;
    }
  }
}
