$green: #38846D;
$pink: #F3E4E1;
$orange: #E5674E;
$brown: #2F2926;
$darkbrown: rgb(20, 18, 16);


/* COMPONENTS */
.btn {
    display: flex;
    font-family: 'PT Serif', serif;
    font-size: 1.4rem;
    text-decoration: none;
    height: 4rem;
    justify-content: center;
    align-items: center;
    color: #eee;
    border-radius: 999rem;
    background: $brown;
    margin: 0 auto;
    padding: 2rem;

    &:active {
        color: white;
        background: black;
    }

    &:disabled {
        opacity: 0.5;
    }
}
